<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.ssm.model.User" >
    <id column="userid" property="userid" jdbcType="CHAR" />
    <result column="userpwd" property="userpwd" jdbcType="CHAR" />
    <result column="username" property="username" jdbcType="CHAR" />
    <result column="idcard" property="idcard" jdbcType="CHAR" />
    <result column="city" property="city" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="CHAR" />
    <result column="telephone" property="telephone" jdbcType="CHAR" />
    <result column="zip" property="zip" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, userpwd, username, idcard, city, address, telephone, zip, email
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where userid = #{userid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from users
    where userid = #{userid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.ssm.model.User" >
    insert into users (userid, userpwd, username, 
      idcard, city, address, telephone, 
      zip, email)
    values (#{userid,jdbcType=CHAR}, #{userpwd,jdbcType=CHAR}, #{username,jdbcType=CHAR}, 
      #{idcard,jdbcType=CHAR}, #{city,jdbcType=CHAR}, #{address,jdbcType=CHAR}, #{telephone,jdbcType=CHAR}, 
      #{zip,jdbcType=CHAR}, #{email,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.model.User" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="userpwd != null" >
        userpwd,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=CHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=CHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=CHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.model.User" >
    update users
    <set >
      <if test="userpwd != null" >
        userpwd = #{userpwd,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=CHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=CHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.User" >
    update users
    set userpwd = #{userpwd,jdbcType=CHAR},
      username = #{username,jdbcType=CHAR},
      idcard = #{idcard,jdbcType=CHAR},
      city = #{city,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      telephone = #{telephone,jdbcType=CHAR},
      zip = #{zip,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR}
    where userid = #{userid,jdbcType=CHAR}
  </update>
</mapper>